<section class="content mt-5">
  <div class="content-block">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="header">
            <!-- <button mat-raised-button (click)="isOptional = !isOptional">
              {{!isOptional ? 'Enable optional steps' : 'Disable optional steps'}}
            </button> -->

            <mat-stepper linear #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Fill out your information</ng-template>
                  <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width " appearance="outline">
                      <mat-label >First name</mat-label>
                      <input matInput formControlName="firstName"  required>
                      <!-- <div
                      *ngIf="
                        (secondFormGroup.get('firstName')?.invalid &&
                        secondFormGroup.get('firstName')?.touched) ||
                        secondFormGroup.get('firstName')?.dirty
                      "
                    >
                      <div class="text-danger">
                        <mat-error *ngIf="secondFormGroup.get('firstName')?.errors?.['required']">
                          This field is requrid !
                        </mat-error>
                        <div *ngIf="secondFormGroup.get('firstName')?.errors?.['minlength']">
                          This field must have more than 4 caracters
                        </div>
                        <div *ngIf="secondFormGroup.get('firstName')?.errors?.['maxlength']">
                          The max caracters is 10
                        </div>
                        <div *ngIf="secondFormGroup.get('firstName')?.errors?.['pattern']"></div>
                      </div>
                    </div> -->
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Last name</mat-label>
                      <input matInput formControlName="lastName" required>
                    </mat-form-field></td>
                  </tr></table>
                  <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input type="email" matInput formControlName="email" required pattern>
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>gender</mat-label>
                      <mat-select required>
                        <mat-option value="option1">Femme </mat-option>
                        <mat-option value="option2">Homme</mat-option>
                      </mat-select>
                    </mat-form-field></td>
                  </tr></table>
                  <p>
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Phone</mat-label>
                      <span matPrefix class="ms-1"> +212 &nbsp;</span>
                      <input type="number" formControlName="phone" required matInput/>
                      <mat-error *ngIf="firstFormGroup.controls.phone.errors?.['required']">Phone is required.</mat-error>
                      <mat-error *ngIf="firstFormGroup.controls.phone.errors?.['pattern']">Invalid phone format.</mat-error>
                      <mat-error *ngIf="firstFormGroup.controls.phone.errors?.['maxlength']">Phone must be less than 10 characters.</mat-error>
                    </mat-form-field>
                  </p>




                  <p>
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Address</mat-label>
                      <textarea matInput formControlName="addresse" required></textarea>
                    </mat-form-field>
                  </p>
                  <div class="text-end">
                    <button class="btn btn-danger me-1" matStepperPrevious>Back</button>
                    <button class="btn btn-info" matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Fill out your information </ng-template>
                  <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>First name</mat-label>
                      <input matInput>
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Last name</mat-label>
                      <input matInput>
                    </mat-form-field></td>
                  </tr></table>
                  <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput>
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>gender</mat-label>
                      <mat-select >
                        <mat-option value="option1">FAMME </mat-option>
                        <mat-option value="option2">HOMME</mat-option>
                      </mat-select>
                    </mat-form-field></td>
                  </tr></table>
                  <p>
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Phone</mat-label>
                      <span matPrefix>+212 &nbsp;</span>
                      <input type="tel" matInput/>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Address</mat-label>
                      <textarea matInput></textarea>
                    </mat-form-field>
                  </p>

                  <div class="text-end">
                    <button class="btn btn-danger me-1" matStepperPrevious>Back</button>
                    <button class="btn btn-info" matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Fill out your address</ng-template>
                  <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>First name</mat-label>
                      <input matInput formControlName="firstName" required>
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Last name</mat-label>
                      <input matInput>
                    </mat-form-field></td>
                  </tr></table>
                  <table class="example-full-width" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Email</mat-label>
                      <input matInput>
                    </mat-form-field></td>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>gender</mat-label>
                      <mat-select >
                        <mat-option value="option1">FAMME </mat-option>
                        <mat-option value="option2">HOMME</mat-option>
                      </mat-select>
                    </mat-form-field></td>
                  </tr></table>
                  <p>
                    <mat-form-field class="example-full-width">
                      <mat-label>Phone</mat-label>
                      <span matPrefix>+212 &nbsp;</span>
                      <input type="tel" matInput/>
                    </mat-form-field>
                  </p>
                  <p>
                    <mat-form-field class="example-full-width">
                      <mat-label>Address</mat-label>
                      <textarea matInput></textarea>
                    </mat-form-field>
                  </p>
                  <div class="text-end">
                    <button class="btn btn-danger me-1" matStepperPrevious>Back</button>
                    <button class="btn btn-info" matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Handle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
                <div>
                  <button class="btn btn-danger me-1" matStepperPrevious>Back</button>
                  <button class="btn btn-dark" (click)="stepper.reset()">Reset</button>
                </div>
              </mat-step>
            </mat-stepper>

          </div>
          <div class="body">



          </div>
        </div>
      </div>
    </div>
  </div>
</section>
