<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <!-- <div class="modalHeader clearfix">
        <img [src]='teachers.img' alt="avatar">
        <div class="modal-about">
          {{dialogTitle}}
        </div>
      </div> -->
    </div>
    <button mat-icon-button (click)="dialogRef.close()" class="modal-close-button" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4"   [formGroup]="registerFormGroup" (ngSubmit)="postRegister()">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="registerFormGroup.get('email')?.hasError('required') || registerFormGroup.get('email')?.touched">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
        </div>
      </div>
        <div class="row">
           <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Profil</mat-label>
              <mat-select formControlName="profil" required>
                <mat-option [value]="'developer'">developer </mat-option>
              </mat-select>

              <mat-error *ngIf="registerFormGroup.get('profil')?.hasError('required')">
                Country is required
              </mat-error>
            </mat-form-field>
                          </div>
                        </div>

      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <button class="btn-space" mat-raised-button type="submit"[disabled]="!registerFormGroup.valid" [mat-dialog-close]="1"
            color="primary">Submit</button>
          <button type="button" mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

